
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <base href="" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TRANSPORTE MORANDE &#8211; servicios de trasporte de pasajeros</title>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-weglot-css-css' href='~/wp-content/plugins/weglot/resources/wp-weglot-css.css?ver=1.10' type='text/css' media='' />
    <link rel='stylesheet' id='fmgc-css-css' href='~/wp-content/plugins/footer-mega-grid-columns/css/fmgc-css.css?ver=1.0.1' type='text/css' media='all' />
    @*<link rel='stylesheet' id='uaf_client_css-css' href='~/wp-content/uploads/useanyfont/uaf.css?ver=1487014458' type='text/css' media='all' />*@
    <link rel='stylesheet' id='iw-defaults-css' href='~/wp-content/plugins/widgets-for-siteorigin/inc/../css/defaults.css?ver=1.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='~/wp-content/themes/shapely/inc/css/bootstrap.min.css?ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='~/wp-content/themes/shapely/inc/css/font-awesome.min.css?ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css' href='~/wp-content/themes/shapely/inc/css/flexslider.css?ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='shapely-style-css' href='~/wp-content/themes/shapely/style.css?ver=4.9.4' type='text/css' media='all' />
    <style id='shapely-style-inline-css' type='text/css'>
        .image-bg .btn.btn-filled,
        .btn-filled,
        .button,
        .woocommerce #respond input#submit.alt,
        .woocommerce a.button.alt,
        .woocommerce button.button.alt,
        .woocommerce input.button.alt,
        .woocommerce #respond input#submit,
        .woocommerce a.button,
        .woocommerce button.button,
        .woocommerce input.button,
        .btn.searchsubmit,
        input[type="submit"],
        .video-widget .video-controls button {
            background: #e47c07;
            border-color: #e47c07;
        }

            .btn-filled:hover,
            .btn:visited:hover,
            .btn.searchsubmit:hover,
            .image-bg .btn.btn-filled:hover,
            input[type="submit"]:hover,
            .video-widget .video-controls button {
                background: #ee8611;
                border-color: #ee8611;
            }

        .btn, .button {
            border-color: #e47c07;
        }


        .feature-1 i,
        .feature-2 i,
        .feature-3 i,
        .comment-reply, a:visited, a {
            color: #e47c07;
        }

            a:hover, a:focus {
                color: #666666;
            }

        .btn:hover, .button:hover {
            background: #ee8611;
        }

        .menu > li > ul li a:hover, .dropdown-menu > .active > a:hover {
            background: #e47c07;
        }

        a {
            color: #e47c07;
        }

            a:hover,
            a:focus {
                color: #ee8611;
            }

        .bg-dark {
            background: #0e1015;
        }

        footer.bg-dark a {
            color: #666666;
        }

            footer.bg-dark a:hover {
                color: #707070;
            }

        .footer-widget .widget-title {
            color: #666666;
        }

        body {
            color: #666666;
        }

        .post-title a:hover {
            color: #292929;
        }
    </style>
    <link rel='stylesheet' id='owl.carousel-css' href='~/wp-content/themes/shapely/js/owl-carousel/owl.carousel.min.css?ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='otw-shortcode-general_foundicons-css' href='~/wp-content/plugins/buttons-shortcode-and-widget//include/otw_components/otw_shortcode/css/general_foundicons.css?ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='otw-shortcode-social_foundicons-css' href='~/wp-content/plugins/buttons-shortcode-and-widget//include/otw_components/otw_shortcode/css/social_foundicons.css?ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='otw-shortcode-css' href='~/wp-content/plugins/buttons-shortcode-and-widget//include/otw_components/otw_shortcode/css/otw_shortcode.css?ver=4.9.4' type='text/css' media='all' />
    <link rel='stylesheet' id='jetpack_css-css' href='~/wp-content/plugins/jetpack/css/jetpack.css?ver=4.5' type='text/css' media='all' />
    <link rel='stylesheet' id='scStyleSheets-css' href='~/wp-content/plugins/google-translate-widget/gt-styles.css?ver=4.9.4' type='text/css' media='all' />
    <script type='text/javascript' src='~/wp-content/plugins/weglot/resources/wp-weglot-js.js?ver=1.10'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/wp-content/plugins/slider/js/jssor.js?ver=4.9.4'></script>
    <script type='text/javascript' src='~/wp-content/plugins/slider/js/helper.js?ver=4.9.4'></script>
    <link rel='https://api.w.org/' href='~/wp-json/' />

    <link rel='dns-prefetch' href='//v0.wordpress.com'>
    <style type='text/css'>
        img#wpstats {
            display: none
        }
    </style>
    <style type="text/css">
        .social-icons li a {
            color: #ee8611 !important;
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>

    <!-- Jetpack Open Graph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TRANSPORTE MORANDE" />
    <meta property="og:description" content="servicios de trasporte de pasajeros" />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="TRANSPORTE MORANDE" />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
    <meta property="og:locale" content="es_ES" />
    <meta name="twitter:image" content="~/wp-content/uploads/2017/02/favicon.png" />
    <meta name="twitter:card" content="summary" />
    <link rel="icon" href="~/wp-content/uploads/2017/02/favicon.png" sizes="32x32" />
    <link rel="icon" href="~/wp-content/uploads/2017/02/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/wp-content/uploads/2017/02/favicon.png" />
    <meta name="msapplication-TileImage" content="~/wp-content/uploads/2017/02/favicon.png" />
    <style type="text/css" id="wp-custom-css">
        /*
        Puedes añadir tu propio CSS aquí.

        Haz clic en el icono de ayuda de arriba para averiguar más.
        */


        .module.widget-handle.search-widget-handle {
            display: none;
        }
    </style>
</head>

<body class="home page-template page-template-template-home page-template-template-home-php page page-id-65 wp-custom-logo has-sidebar-right">
    <div id="page" class="site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

        <header id="masthead" class="site-header" role="banner">
            <div class="nav-container">
                <nav id="site-navigation" class="main-navigation" role="navigation">
                    <div class="container nav-bar">
                        <div class="row">
                            <div class="module left site-title-container">

                                <a href="/">
                                    <img src="~/wp-content/uploads/2017/02/cropped-MORANDE-TURISMO-Y-TRANSPORTE-2-1.png" class="logo"
                                         alt="TRANSPORTE MORANDE">
                                </a>
                            </div>
                            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="module-group right">
                                <div class="module left">
                                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                                        <ul id="menu" class="menu">
                                            <li id="menu-item-1933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-65 current_page_item menu-item-1933 active"><a title="Inicio" href="/">Inicio</a></li>
                                            <li id="menu-item-1969" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1969"><a title="Empresas" href="/ServiciosEmpresa/">Empresas</a></li>
                                            <li id="menu-item-1980" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1980"><a title="Nosotros" href="/nosotros/">Nosotros</a></li>
                                            <li id="menu-item-1979" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1979"><a title="Turismo" href="/turismo/">Turismo</a></li>
                                            <li id="menu-item-2004" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2004"><a title="Servicios Especiales" href="/serviciosespeciales/">Servicios Especiales</a></li>
                                            <li id="menu-item-1978" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1978"><a title="Flota" href="/flota/">Flota</a></li>
                                            <li id="menu-item-2320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2320"><a title="Galeria" href="/Galeria/">Galeria</a></li>
                                            <li id="menu-item-1992" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1992"><a title="Contacto" href="/contacto/">Contacto</a></li>
                                            <li id="menu-item-2313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2313"><a title="Ingresar" href="https://tmorande.azurewebsites.net">Ingresar</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--end of menu module-->
                                <div class="module widget-handle search-widget-handle left hidden-xs hidden-sm">
                                    <div class="search">
                                        <i class="fa fa-search"></i>
                                        <span class="title">Site Search</span>
                                    </div>
                                    <div class="function">
                                        <form role="search" method="get" id="searchform" class="search-form" action="/">
                                            <label class="screen-reader-text" for="s">Search for:</label>
                                            <input type="text" placeholder="Type Here" type="text" value="" name="s" id="s" />
                                            <input type="submit" class="btn btn-fillded searchsubmit" id="searchsubmit" value="Search" />

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end of module group-->
                        </div>
                    </div>
                </nav><!-- #site-navigation -->
            </div>
        </header><!-- #masthead -->
        <div id="content" class="main-container">

            @RenderBody()

            <div class="footer-callout">
            </div>

            <footer id="colophon" class="site-footer footer bg-dark" role="contentinfo">
                <div class="container footer-inner">
                    <div class="row">


                        <div class="footer-widget-area">
                            <div class="col-md-6 col-sm-6 footer-widget" role="complementary">
                                <div id="text-3" class="widget widget_text">
                                    <div id="TA_cdsratingsonlywide800" class="TA_cdsratingsonlywide">
                                        <ul id="MgBuwxQ" class="TA_links PWQLDDcff2">
                                            <li id="N334Z3Jv3cXx" class="CoalhEllC">
                                                <a target="_blank" href="https://www.tripadvisor.com/"><img src="https://www.tripadvisor.com/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor" /></a>
                                            </li>
                                        </ul>
                                        <br />
                                    </div>
                                    <br />
                                    <h2 class="widget-title">Morandé Turismo &#038; Transporte</h2>
                                    <div class="textwidget">
                                        @if (TempData["idioma"].ToString() == "pt")
                                        {
                                        <p>
                                            Contatos:<br>
                                            AGENTES DE VENDAS ONLINE: <br />
                                            +56 9 9343 9523 Taynara<br>
                                            +56 9 4297 5799 Jessica<br>
                                            +56 9 5920 6312 Natane<br>
                                            gonzalo.serrano@transportemorande.cl<br />
                                            marketingmorande@gmail.com <br />
                                            Horario: 24 horas ( lunes a domingo )<br>
                                            Agustinas 972, Oficina 814 <br>
                                            Santiago centro.
                                        </p>
                                        }
                                        else
                                        {
                                        <p>
                                            Contacto:<br>
                                            +56 9 9343 9523 Taynara<br>
                                            +56 9 4297 5799 Jessica<br>
                                            +56 9 5920 6312 Natane<br>
                                            Horario: 24 horas ( lunes a domingo )<br>
                                            Agustinas 972, Oficina 814 <br>
                                            Santiago centro.
                                        </p>

                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <nav id="social" class="social-icons">
                                            <ul id="TCSNde" class="list-inline social-list TA_links tF5gsq8nhGld">
                                                <li id="menu-item-2179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2179"><a href="https://www.instagram.com/morande_transporte_turismo/"><i class="social_icon fa"><span>Instagram</span></i></a></li>
                                                <li id="menu-item-2180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2180"><a href="https://www.facebook.com/MorandeTurismoyTransporte/"><i class="social_icon fa"><span>Facebook</span></i></a></li>
                                                <li id="menu-item-2278" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2278"><a href="https://twitter.com/MorandeRicardo"><i class="social_icon fa"><span>Twitter</span></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="site-info col-sm-6">
                            <div class="copyright-text">

                            </div>
                            <div class="footer-credits">
                            </div>
                        </div><!-- .site-info -->

                    </div>
                </div>

                <a class="btn btn-sm fade-half back-to-top inner-link" href="#top"><i class="fa fa-angle-up"></i></a>
            </footer><!-- #colophon -->
        </div>
    </div><!-- #page -->

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
                                if ($(window).width() >= 767) {
                                    $('.navbar-nav > li.menu-item > a').click(function () {
                                                     window.location = $(this).attr('href');
                                                 });
                                }
                                         });
    </script>
    <div style="display:none">
    </div>
    <script type='text/javascript' src='http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201813'></script>
    <script type='text/javascript' src='~/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/jquery.colorbox.js?ver=1.9.12'></script>
    <script type='text/javascript' src='~/wp-content/plugins/gallery-by-supsystic/src/GridGallery/Colorbox/jquery-colorbox/i18n/jquery.colorbox-es.js?ver=1.9.12'></script>
    <script type='text/javascript' src='http://s.gravatar.com/js/gprofiles.js?ver=2018Maraa'></script>
    <script type='text/javascript'>
                            /* <![CDATA[ */
                            var WPGroHo = { "my_hash": "" };
/* ]]> */
    </script>
    <script type='text/javascript' src='~/wp-content/plugins/jetpack/modules/wpgroho.js?ver=4.9.4'></script>
    <script type='text/javascript' src='~/wp-content/themes/shapely/js/navigation.js?ver=20120206'></script>
    <script type='text/javascript' src='~/wp-content/themes/shapely/js/skip-link-focus-fix.js?ver=20160115'></script>
    <script type='text/javascript' src='~/wp-content/themes/shapely/js/flexslider.min.js?ver=20160222'></script>
    <script type='text/javascript' src='~/wp-content/themes/shapely/js/parallax.min.js?ver=20160115'></script>
    <script type='text/javascript' src='~/wp-content/themes/shapely/js/owl-carousel/owl.carousel.min.js?ver=20160115'></script>
    <script type='text/javascript' src='~/wp-content/themes/shapely/js/shapely-scripts.js?ver=20160115'></script>
    <script type='text/javascript' src='~/wp-includes/js/wp-embed.min.js?ver=4.9.4'></script>
    <script type='text/javascript' src='http://stats.wp.com/e-201813.js' async defer></script>
    <script type='text/javascript'>
                            _stq = window._stq || [];
                            _stq.push(['view', { v: 'ext', j: '1:4.5', blog: '124131296', post: '65', tz: '0', srv: '' }]);
                            _stq.push(['clickTrackerInit', '124131296', '65']);
    </script>
    <!--Weglot 1.10-->
    <aside data-wg-notranslate class="wg-default wg-drop country-selector closed" onclick="openClose(this);">
        @if (TempData["idioma"].ToString() == "pt")
        {
            <div data-wg-notranslate class="wgcurrent wg-li wg-flags flag-3 pt">
                <a href="#" onclick="return false;">PT</a>
            </div>
            <ul>
                <li class="wgcurrent wg-li wg-flags flag-3 pt">
                    <a data-wg-notranslate href="/pt/">PT</a>
                </li>
                <li class="wg-li wg-flags flag-3 es">
                    <a data-wg-notranslate href="/es/">ES</a>
                </li>
            </ul>
        }
        else
        {
            <div data-wg-notranslate class="wgcurrent wg-li wg-flags flag-3 es">
                <a href="#" onclick="return false;">ES</a>
            </div>
            <ul>
                <li class="wg-li wg-flags flag-3 pt">
                    <a data-wg-notranslate href="/pt/">PT</a>
                </li>
                <li class="wgcurrent wg-li wg-flags flag-3 es">
                    <a data-wg-notranslate href="/es/">ES</a>
                </li>
            </ul>
        }
    </aside>
    <script async src="https://www.jscache.com/wejs?wtype=cdsratingsonlywide&amp;uniq=800&amp;locationId=12899049&amp;lang=en_US&amp;border=false&amp;shadow=false&amp;backgroundColor=white&amp;display_version=2"></script>

</body>
</html>