<section class="content-area  pt0 ">
    <div id="main" class="container"
         role="main">
        <div class="row">
            <div id="primary" class="col-md-12 mb-xs-24 full-width">
                <article id="post-2317" class="post-content post-grid-wide">
                    <header class="entry-header nolist"></header><!-- .entry-header -->
                    <div class="entry-content">
                        <h2 class="post-title">
                            <a href="/galeria/">Galeria</a>
                        </h2>

                        <div class="entry-meta">

                        </div>
                    </div>

                    <div class="shapely-content ">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <style type="text/css">

      #wdi_feed_0 .wdi_feed_header {
        display: none; /*if display-header is true display:block*/
      }

            #wdi_feed_0 .wdi_header_user_text {
        padding-top: 5.5px;

      }

      #wdi_feed_0 .wdi_header_user_text h3 {
        margin-top: 5.5px;
      }

      #wdi_feed_0 .wdi_media_info {
        display: block      }

      #wdi_feed_0 .wdi_feed_item {
        width: 25%; /*thumbnail_size*/
      }


            @media screen and (min-width: 800px) and (max-width: 1024px) {
        #wdi_feed_0 .wdi_feed_item {
          width: 33.333333333333%; /*thumbnail_size*/
          margin: 0;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
        }

        #wdi_feed_0 .wdi_feed_container {
          width: 100%;
          margin: 0 auto;
          background-color: #FFFFFF; /*feed_container_bg_color*/
        }

      }

      @media screen and (min-width: 480px) and (max-width: 800px) {
        #wdi_feed_0 .wdi_feed_item {
          width: 50%; /*thumbnail_size*/
          margin: 0;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
        }

        #wdi_feed_0 .wdi_feed_container {
          width: 100%;
          margin: 0 auto;
          background-color: #FFFFFF; /*feed_container_bg_color*/
        }
      }

      @media screen and (max-width: 480px) {
        #wdi_feed_0 .wdi_feed_item {
          width: 100%; /*thumbnail_size*/
          margin: 0;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;
        }

        #wdi_feed_0 .wdi_feed_container {
          width: 100%;
          margin: 0 auto;
          background-color: #FFFFFF; /*feed_container_bg_color*/
        }
      }

                        </style>

                        <div id="wdi_feed_0" class="wdi_feed_main_container wdi_layout_th wdi_feed_theme_1 wdi_feed_thumbnail_1">
                            <div class="wdi_js_error">Something is wrong.<br /></div><div class="wdi_token_error wdi_hidden">Instagram token error.</div><div class="wdi_private_feed_error wdi_hidden"><span></span></div>      <div id="wdi_spider_popup_loading_0" class="wdi_spider_popup_loading"></div>
                            <div id="wdi_spider_popup_overlay_0" class="wdi_spider_popup_overlay"
                                 onclick="wdi_spider_destroypopup(1000)"></div>
                            <div class="wdi_feed_container">
                                <div class="wdi_feed_info">
                                    <div id="wdi_feed_0_header" class='wdi_feed_header'></div>
                                    <div id="wdi_feed_0_users" class='wdi_feed_users'></div>
                                </div>
                                <div class="wdi_feed_wrapper wdi_col_4"
                                     wdi-res='wdi_col_4'></div>
                                <div class="wdi_clear"></div>

                                <div class="wdi_load_more wdi_hidden">
                                    <div class="wdi_load_more_container">
                                        <div class="wdi_load_more_wrap">
                                            <div class="wdi_load_more_wrap_inner">
                                                <div class="wdi_load_more_text">Cargar más</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wdi_spinner ">
                                    <div class="wdi_spinner_container">
                                        <div class="wdi_spinner_wrap">
                                            <div class="wdi_spinner_wrap_inner"><i class="wdi_load_more_spinner fa fa-spinner"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                        </style>
                        <script>
                        </script>

                    </div>
            </div><!-- .entry-content -->

        </div><!-- #primary -->
    </div>
</section>

